.vue-demo-iframe{
  height: 100vh;
  .iframe-client{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 100%;
    border: 1px solid #eee;
    margin-right: 32px;
  }
  .iframe-root-panel{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 100%;
    border: 1px solid #eee;
    .iframe-style{
      height: 100%;
    }
  }
}
